@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,200;1,600;1,700;1,800;1,900&display=swap");
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .img-header {
        margin-top: 24px;
        min-width: 200px;
        object-fit: cover;
    }
}
